<app-header></app-header>
<section>
  <div class="contenedor_trabajos">

      <h2>Luis Alberto Mejía - Técnico electricista - Matrícula n° 25.256/8</h2>
      <h3>Trabajos a realizar</h3>
      <h4>-Mantenimiento preventivo-</h4>
      <p><b>Monitoreo de parámetros </b> | Cliente: CATTORINI HNOS - Dirección: Av. Eva Perón 1255, Temperley - Fecha de la visita: 22/09 - Horario: 07:00 hs.|
      </p>
      <p><b> Análisis con termografía infrarroja </b> | Cliente: FRANSRO SRL - Dirección: Parque Industrial Burzaco, calle 7 nro 253 - Fecha de la visita: 11/10 - Horario: 08:00 hs.|
      </p>
      <h4>-Mantenimiento correctivo-</h4>
      <p><b> Instalación de Sistema de tierra y pararrayos </b> | Cliente: MOLINETTI SRL - Dirección: Suipacha 1700, Avellaneda - Fecha de la visita: 1/10 - Horario: 06:00 hs.|
      </p>
      <p><b> Inspección interna de instalación eléctrica </b> | Cliente: CATTORINI HNOS - Dirección: Av. Eva Perón 1255 - Fecha de la visita: 22/09 - Horario: 07:00 hs.|
      </p>


  </div>
</section>
<section>
  <div class="contenedor_trabajos2">
      <h3>Trabajos realizados</h3>
      <h4>-Mantenimiento correctivo-</h4>
      <p><b> Service de generadores electrógenos</b> | Cliente: CATTORINI HNOS - Dirección: Av. Eva Perón 1255, Temperley - Fecha de la visita: 02/09 - Horario: 07:00 hs.|
      </p>
      <p><b> Análisis con termografía infrarroja </b> | Cliente: FRANSRO SRL - Dirección: Parque Industrial Burzaco, calle 7 nro 253 - Fecha de la visita: 28/08 - Horario: 08:00 hs.|
      </p>
      <h4>-Mantenimiento preventivo-</h4>
      <p><b> Instalación de Sistema de tierra y pararrayos </b> | Cliente: MOLINETTI SRL - Dirección: Suipacha 1700, Avellaneda - Fecha de la visita: 29/08 - Horario: 06:00 hs.|
      </p>
      <p><b> Inspección interna </b> | Cliente: CATTORINI HNOS - Dirección: Av. Eva Perón 1255 - Fecha de la visita: 31/08 - Horario: 07:00 hs.|
      </p>
  </div>
</section>
