<app-header></app-header>
<section>

      <div class="div-presentacion" align="center">
        <img src="assets/img/compania.jpg" class="foto-presentacion">
      </div>
      <div class="textouno">
          <p>Somos un grupo de profesionales dedicados al mantenimiento general de infraestructura; ofrecemos nuestros servicios acorde a las necesidades de cada cliente, a fin de obtener su satisfacción a través de calidad y eficiencia.</p>
      </div>

      <div class="div-presentacion" align="center">
        <img src="assets/img/obreros.jpg" class="foto-presentacion">
      </div>
      <div class="textouno">
          <p>Tenemos una importante experiencia, pero lo más relevante es el factor humano del que disponemos y la capacitación de nuestros técnicos.</p>
          <p>Por estos motivos sabemos que estamos preparados para darle a usted la tranquilidad de un buen servicio.</p>
      </div>

      <div class="text-center servicios">
        <div>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/plomeria.jpg"></a>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/electricista.jpg"></a>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/gasista.jpg"></a>
        </div>
        <div>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/carpintero.jpg"></a>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/pintor.jpg"></a>
          <a href="javascript:void(0)"><img class="rounded " src="assets/img/construccion.jpg"></a>
        </div>
      </div>
  </section>
